% This is an -*- Erlang -*- file.
[{mnesia, [{dir, "data"},
           {dump_log_write_threshold, 100000}]},
 {kernel, [{error_logger, tty}]},   % `false' is not enough here...
 {sasl,   [{error_logger_mf_dir, "log"},
           {error_logger_mf_maxbytes, 100000},
           {error_logger_mf_maxfiles, 2},
           {errlog_type, error},
           {sasl_error_logger, tty} % this should be `false'
          ]}
].
