% This is an -*- Erlang -*- file.
[{mnesia, [{dir, "data"},
           {dump_log_write_threshold, 100000}]},
 {kernel, [{error_logger, tty}]},   % `false' is not enough here...
 {sasl,   [{error_logger_mf_dir, "log"},
           {error_logger_mf_maxbytes, 100000},
           {error_logger_mf_maxfiles, 2},
           {errlog_type, error},
           {sasl_error_logger, tty} % this should be `false'
          ]},
 {refactorerl, [{anal_mods, [referl_anal_nodetype,
                             referl_anal_mod,
                             referl_anal_context,
                             referl_anal_indent,
                             referl_anal_fun,
                             referl_anal_rec,
                             referl_anal_var
                            ]}
               ]}
].
